# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives**
- Popular languages that Data Scientists use
- Common libraries for Data Scientists
- simple arithmetic expression to mutiply

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy

| Data Science Tools     |
|------------------------|
| Jupyter Notebook      |
| RStudio              |
| Apache Zeppelin      |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply

In [21]:
(3 * 4) + 5

17

This will convert 200 minutes to hours by dividing by 60

In [27]:
200 / 60

3.3333333333333335